<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/i18n/defaults-pl_PL.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/waitingfor.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/ajax-bootstrap-select.min.js}"></script>